<!DOCTYPE html>

<head>
    <title>Sabi You Zone!</title>

   <!--meta-->
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--Map-->
    <style>
 #map {
   width: 80%;
   height: 500px;
   background-color: grey;
 }
    </style>

    <!--jquery-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
    </script >

    <script type=text/javascript>
            var pos = {};
            var geo_active = true
            function getPos(position) {
                               pos= {lat : position.coords.latitude,
                               lng : position.coords.longitude}
                                    };
             function error(err) {
                                    geo_active = false;
                                    };
            function getLocation() {
                         navigator.geolocation.getCurrentPosition(getPos, error)
            };
            getLocation()

     </script>


</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light bg-brown" style="background-color: #A75507">
    <a class="navbar-brand" href="#"><img src="static/logo.png" height="30" width = "120" alt=""></a>
    <span class="navbar-text" style = "color: white" >
        You Sabi You Zone?
      </span>

</nav>
<div class="container"><p> </p></div>
<div class="d-flex justify-content-center">
    <h3>Welcome Freetonian!</h3>
</div>

<div class="d-flex justify-content-center">
    <p>Don't know which ward you belong to? Don't worry!</p>
</div>
<div class="container">
    <div class="row justify-content-md-center">
            <div class="col-md-auto">
 If you're using you're mobile device, simply click the button below - it will take your GPS location and tell you which ward you are in.
    </div>
    </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
    You can also select one of the wards in the dropdown, or just just click on the map to explore.    </div>
    </div>

</div>


<p></p>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto"><a class = "btn btn-primary" role = "button" href=# id=geobutton>Use my Location</a></div>
        <div class="col-md-auto">

            <select class="form-control" id="dropdown">
                <option value="all">Show all wards</option>
                <option value=0>399</option>
                <option value=1>400</option>
                <option value=2>401</option>
                <option value=3>402</option>
                <option value=4>403</option>
                <option value=5>404</option>
                <option value=6>405</option>
                <option value=7>406</option>
                <option value=8>407</option>
                <option value=9>408</option>
                <option value=10>409</option>
                <option value=11>410</option>
                <option value=12>411</option>
                <option value=13>412</option>
                <option value=14>413</option>
                <option value=15>414</option>
                <option value=16>415</option>
                <option value=17>416</option>
                <option value=18>417</option>
                <option value=19>418</option>
                <option value=20>419</option>
                <option value=21>420</option>
                <option value=22>421</option>
                <option value=23>422</option>
                <option value=24>423</option>
                <option value=25>424</option>
                <option value=26>425</option>
                <option value=27>426</option>
                <option value=28>427</option>
                <option value=29>428</option>
                <option value=30>429</option>
                <option value=31>430</option>
                <option value=32>431</option>
                <option value=33>432</option>
                <option value=34>433</option>
                <option value=35>434</option>
                <option value=36>435</option>
                <option value=37>436</option>
                <option value=38>437</option>
                <option value=39>438</option>
                <option value=40>439</option>
                <option value=41>440</option>
                <option value=42>441</option>
                <option value=43>442</option>
                <option value=44>443</option>
                <option value=45>444</option>
                <option value=46>445</option>
                <option value=47>446</option>
            </select>

        </div>
    </div>


</div>
<p></p>
<div class="container"><div class="d-flex justify-content-center">
    <h5 id="result"></h5>
</div></div>


<div class="d-flex justify-content-center"> <a id="link" href="" target="_blank"></a>
 </div>

<div><p></p></div>

<div class="d-flex justify-content-center"><div id="map"></div></div>

<div><p></p></div>
<div><p></p></div>
<div><p></p></div>


<script>
// Initialize and add the map
function initMap() {
    button = document.getElementById('geobutton');
    var mapDiv = document.getElementById('map');
    var center = new google.maps.LatLng(8.464900, -13.231235);
    var map = new google.maps.Map(mapDiv, {
          zoom: 12,
          center: center
        });


  var geo_json = {{layer|tojson|safe}};
  map.data.addGeoJson(geo_json);
  map.data.setStyle({
          fillColor: 'grey',
          strokeWeight: 1
        })

  map.data.addListener('mouseover', function(event) {
          map.data.revertStyle();
          map.data.overrideStyle(event.feature, { fillColor:'green'});
          ward_no = event.feature.getProperty('ward');
          info_center =event.feature.getProperty('center')
          wardHref =  "http://fcc.gov.sl/instructor/ward-"+ward_no.toString();
          infowindow = new google.maps.InfoWindow({content : "<a href="+wardHref+" target='_blank'>"+ward_no.toString()+"</a>", position:info_center})
          infowindow.open(map);
        });

  map.data.addListener('mouseout',function(event){
      infowindow.close(map)
    })

google.maps.event.addDomListener(button, 'click', function() {
                if (geo_active == false) {
                    $("#result").text("Sorry we were not able to use your GPS location. Please turn on location data and refresh the page")
                }
                else {
                $.getJSON('/postmethod',
                          pos
                         ,
                            function(data) {
                            if ((data.result) == "Nothing" ){
                             $("#result").text("Sorry your location seems to be outside Freetown! Please use the map or select a ward in the dropdown to explore, or refresh the page and try again!");
                              var marker = new google.maps.Marker({
                                       position: pos,
                                       map: map
                                        });
                                        map.panTo(pos);
                                        map.setZoom(15);
                                }
                            else {
                            $("#result").text("You're in Ward "+data.result.ward);
                            $("#link"). attr("href", "http://fcc.gov.sl/instructor/ward-"+data.result.ward+"/");
                            $("#link").text("Find out more about ward "+ data.result.ward);

                                      var marker = new google.maps.Marker({
                                       position: pos,
                                       map: map
                                        });

                                        map.panTo(pos);
                                        map.setZoom(15);
                                         map.data.forEach(function(feature) {
                                                    map.data.remove(feature);
                                                    });
                                         map.data.addGeoJson(geo_json);
                                        map.data.addGeoJson(data.result);
                                        wardHref2 = "http://fcc.gov.sl/instructor/ward-"+data.result.ward
                                        infowindow2 = new google.maps.InfoWindow({content :"<a href="+wardHref2+" target='_blank'>"+data.result.ward+"</a>"});
                                        infowindow2.open(map, marker)
                                        }
                            })
                            }



        })

;

  var dropdown = document.getElementById('dropdown')
  google.maps.event.addDomListener(dropdown, 'change',
              function(){
              ward_selected = dropdown.value;
              if (ward_selected == "all") {
                  map.data.forEach(function(feature) {
                      map.data.remove(feature);
                                 });
                  map.data.addGeoJson(geo_json);
                  map.panTo(center);
                  map.setZoom(12);
              }
              else {
              var ward_selected_shape = geo_json["features"][ward_selected];
              var ward_no = parseInt(ward_selected,10) +399
              var ward_selected_center = geo_json["features"][ward_selected]["properties"]["center"]
              map.data.forEach(function(feature) {
                                map.data.remove(feature);
                                 });
              map.data.addGeoJson(ward_selected_shape)
              $("#link").text("Find out more about ward "+ ward_no);
              $("#link"). attr("href", "http://fcc.gov.sl/instructor/ward-"+ward_no+"/")
              map.panTo(ward_selected_center)
              map.setZoom(14)}
              });
  };





    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgLo_BdpIcvd1CaVMpE4uCSXenKBGWabk&callback=initMap">
    </script>


</body>

</html>