<!DOCTYPE html>

<head>
    <title>Sabi You Zone!</title>

    <!--meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-brown" style="background-color: #A75507">
    <a class="navbar-brand" href="#"><img src="static/logo.png" height="30" width = "120" alt=""></a>
    <span class="navbar-text" style = "color: white" >
        You Sabi You Zone?
      </span>





</nav>
<div class="container">
<ul class="nav nav-pills nav-fill" style="margin-top:10px">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/phu">Primary Health Units</a>
    </li>
</ul>
<div class="d-flex justify-content-center" style="margin:20px">
    <h5>The map below shows the PHUs in Freetown</h5>
</div>
<div class="d-flex justify-content-center">
    <iframe src="https://www.google.com/maps/d/embed?mid=1Nty3ixpdPwvt-D69dE20MaB23cfsUa0V" width="640" height="480"></iframe>

</div>
</div>
</body>